/* Author: Vincent S Shury - Created: 2-17-20 */
body {
  font-family: "Roboto Condensed", sans-serif;
  background-color: burlywood;
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
  padding: 1em;
}
