/*
     AUTHOR: Vincent S Shury 
     created: 2-17-20
     Theme Variables
*/
:root {
    /* Current Variables are placeholders with placeholder values, will add a theme in later. */
    font-family: 'Roboto Condensed', sans-serif;
    --dark-bg : rgb(120,120,120);
    --darker-bg : rgb(50,50,50);
    --darkest-bg : rgb(10,10,10);
    --light-bg : rgb(200,200,200);
    --lighter-bg : rgb(220,220,220);
    --lightest-bg : rgb(255,255,255);
    --red-bg : rgb(255,140,140);
}

body {
    display: grid;
}

.container {
    display: grid;
    height: 100vh;
    width: 100vw;
    border-radius: 1rem;
    align-content: center;
    justify-content: center;
}
.dark-bg {
    background: linear-gradient( 265deg, var(--light-bg), var(--lighter-bg) );
}
.light-bg {
    background: linear-gradient( 265deg, var(--light-bg), var(--lighter-bg) );
}

#title {
    width: 100%;
    justify-content: center;
    background: var(--dark-bg)
}