/* :root {
    font-family: 'Roboto Condensed', sans-serif;

}

body {
    background: linear-gradient(right, red,black);
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    min-inline-size: 100vw;
}

main {
    background-color: rgba(223, 223, 223, 0.95);
    border-radius: 1rem;
}

.container {
    display: grid; 
    align-content: center;
} */
